.container-foo{
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
}
.footer-components, .footer-components-c{
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 1rem;
    width: 39%;
}
.footer-components-c{
    width: 25%
}
.col-01, .col-02{
    width: 35%;
    height: 90%;
}
.col-02{
    width: 60%;
}
.color{
    color: #fff;
}
.col-01, .col-02{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.col-01-t{
    width: 100%;
    opacity: 0.8;
    font-size: 1rem;
}
.col-01-tt{
    color: coral;
    width: 100%;
    font-size: 1.2rem;
}
.col-01-t:hover{
    cursor: pointer;
}
.logo-footer{
    height: 10vh;
}
.description-footer{
    height: 50%;
    background-color: #161616;
}
.p-footer{
    opacity: 0.8;
    font-size: 1rem;
    line-height: 1.7;
}
.card-footer-info{
    text-align: center;
    border-radius: 5px;
    height: 30%;
    padding-left: 10px;
    width: 80%;
}
.center{
    padding-top: 1.5rem;
    align-items: center;
}
.title-footer{
    color: coral;
    margin-top: 0;
    text-shadow: none;
}
.des-footer{
    opacity: 0.8;
    margin-top: 1rem;
}

@media (max-width: 460px) {
    .container-foo{
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .footer-components{
        width: 100%;
    }
    .logo-footer{
        width: 100%;
    }
    .footer-components{
        width: 100%;
    }
    .footer-components-c{
        padding: 0.5rem;
        width: 100%;
        height: 30%;
    }
    .card-footer-info{
        height: 8vh;
        width: 90%;
    }
    .des-footer{
        font-size: 1rem;
        margin-top: 1rem;
    }
    .center{
        padding-top: 0;
    }
}
  